@using corona92.Models
@model List<DailyCases>
@{
    ViewData["Title"] = "stat";
    List<DailyCases> casesToday = ViewBag.casesToday;
    List<DailyCases> newCases = ViewBag.newCases;
    List<DailyCases> dailyCasesList = ViewBag.dailyCasesList;
    DailyCases precentage = ViewBag.percent;
    DailyCases increase = ViewBag.increase;

}
@{
    ViewData["Title"] = "Statistics";
}

<!DOCTYPE html>


<html>

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>


        div.a {
            font-size: 20px;
            font-weight: 400;
        }

        .btn-app {
            position: relative;
            margin: 0 0 10px 10px;
            min-width: 80px;
            height: 1px;
            text-align: center;
            color: #e62020;
            border: 0;
            font-weight: bold;
        }

        .p-2 {
            padding: 0.6rem !important;
            font-size: 15px;
        }

        .p-3 {
            padding: 0.6rem !important;
            font-size: 25px;
        }

        .center {
            margin: auto;
            width: 60%;
            border: 20px solid #73AD21;
            padding: 10px;
        }

        .badge1 {
            position: absolute;
            top: -3px;
            right: -10px;
            font-size: 12px;
            font-weight: 400
        }

        .btn-app > .badge {
            position: absolute;
            top: -3px;
            right: -10px;
            font-size: 9px;
            font-weight: 400
        }

        .btn-app > .maincasesbadge {
            position: absolute;
            top: 10px;
            right: -15px;
            font-size: 10px;
            font-weight: 400
        }

        /* INNER PAGES COUNTERS */
        #maincounter-wrap {
            margin: auto;
            text-align: center;
            padding-top: 20px
        }

            #maincounter-wrap h1 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 300;
                font-size: 40px;
                color: #555;
                margin: 0;
            }

        .maincounter-number {
            font-weight: 400;
            color: #696969;
            font-size: 80px;
        }

        .maincounter-number-gdp {
            font-weight: 700;
            color: #696969;
            font-size: 60px;
        }

        #viewall {
            font-size: 16px;
            color: #C0C0C0;
            padding-bottom: 30px;
            text-align: center;
        }

            #viewall a:link {
                color: #C0C0C0;
                text-decoration: none;
            }

            #viewall a:visited {
                color: #C0C0C0;
                text-decoration: none;
            }

            #viewall a:hover {
                color: #333333;
                text-decoration: none;
            }

        .GFG1 {
            grid-area: heading;
            background-color: grey
        }

        .GFG2 {
            grid-area: margin;
        }

        .GFG3 {
            grid-area: sec;
        }

        .GFG5 {
            grid-area: sec1;
        }

        .GFG4 {
            grid-area: info;
        }

        .main {
            display: grid;
            grid-gap: 10px;
            background-color: green;
            padding: 10px;
            margin: auto;
            grid-template-areas: 'margin sec sec1 heading heading heading ' 'margin sec sec1 info info info';
        }

        .GFG {
            background-color: white;
            text-align: center;
            padding: 5px;
            font-size: 20px;
            font-weight: 300;
        }

        body {
            background-color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .clickable {
            cursor: pointer;
        }

        .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }


            .panel-heading div span {
                margin-left: 5px;
            }

        .panel-body {
            display: none;
        }

        .table-responsive-stack tr {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }


        .table-responsive-stack td,
        .table-responsive-stack th {
            display: block;
            /*
        flex-grow | flex-shrink | flex-basis   */
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }

        .table-responsive-stack .table-responsive-stack-thead {
            font-weight: bold;
        }

        @@media screen and (max-width: 768px) {
            .table-responsive-stack tr {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                border-bottom: 3px solid #ccc;
                display: block;
            }
            /*  IE9 FIX   */
            .table-responsive-stack td {
                float: left\9;
                width: 100%;
            }
        }

        .position {
            background-color: red;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
        }

        @@media screen and (max-width: 250px) {
            .mobileScr {
            }
        }
    </style>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="~/js/statistics.js" type="text/javascript"></script>

</head>

<body onload="statistics_onload_function()">

    <div class="row justify-content-center bg-dark mx-5 " style="margin-bottom:20px; margin-top:20px; ">

        <div class="col-md-3 col-6">
            <div class="py-5  my-4  px-5 text-center  font-weight-bold  bg-light align-middle " style="font-size:large; text-decoration-color:black;">
                <div class="mb-1">Confirmed Cases</div>
                <div class="h2 font-weight-normal">
                    @casesToday[7].confirmed
                    @if (newCases[7].confirmed > 0)
                    {

                        if (increase.confirmed == 1)
                        {
                            <div class="flex-column-reverse" style="display:inline-flex;">
                                <span class="badge badge-dark ml-3" style="font-size:small">@newCases[7].confirmed new</span>
                                <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller; color:darkred"><i class="fa fa-arrow-up"></i> @precentage.confirmed%</div>
                            </div>
                        }
                        else
                        {
                            <div class="flex-column-reverse" style="display:inline-flex;">
                                <span class="badge badge-dark ml-3" style="font-size:small">@newCases[7].confirmed new</span>
                                <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller;color:darkslateblue"><i class="fa fa-arrow-down"></i> @precentage.confirmed%</div>
                            </div>
                        }


                    }
                </div>

            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="py-5  my-4 px-5 text-center font-weight-bold text-warning bg-light " style="font-size:large;">
                <div class="mb-1">Active&ensp;Cases</div>
                <div class="h2 font-weight-normal">
                    @casesToday[7].active
                    @if (newCases[7].active > 0)
                    {

                        if (increase.active == 1)
                        {
                            <div class="flex-column-reverse" style="display:inline-flex;">
                                <span class="badge badge-warning ml-3" style="font-size:small">@newCases[7].active new</span>
                                <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller; color:darkred"><i class="fa fa-arrow-up"></i> @precentage.active%</div>
                            </div>
                        }
                        else
                        {
                            <div class="flex-column-reverse" style="display:inline-flex;">
                                <span class="badge badge-warning ml-3" style="font-size:small">@newCases[7].active new</span>
                                <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller;color:darkslateblue"><i class="fa fa-arrow-down"></i> @precentage.active%</div>
                            </div>
                        }



                    }
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="py-5  my-4 px-5 text-center font-weight-bold text-secondary bg-light" style="font-size:large;">
                <div class="mb-1">Closed Cases</div>
                <div class="h2 font-weight-normal">
                    @casesToday[7].closed
                    @if (newCases[7].closed > 0)
                    {


                        if (increase.closed == 1)
                        {
                            <div class="flex-column-reverse" style="display:inline-flex;">
                                <span class="badge badge-seconday ml-3" style="font-size:small;display:inline-block;">@newCases[7].closed new</span>
                                <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller; color:darkslateblue"><i class="fa fa-arrow-up"></i> @precentage.closed%</div>
                            </div>
                        }
                        else
                        {
                            <div class="flex-column-reverse" style="display:inline-flex;">
                                <span class="badge badge-seconday ml-3" style="font-size:small;display:inline-block;">@newCases[7].closed new</span>
                                <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller;color:darkred"><i class="fa fa-arrow-down"></i> @precentage.closed%</div>
                            </div>
                        }


                    }
                </div>


            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="flex-column-reverse">
                <div class="py-4 mt-4 text-center font-weight-bold text-success bg-light" style="">

                    <div class="" style="font-size:medium;display:inline">Recovered:</div>
                    <div class="h2 font-weight-normal" style="display:inline">

                        @casesToday[7].recovered

                        @if (newCases[7].recovered > 0)
                        {
                            if (increase.recovered == 1)
                            {
                                <div class="flex-column-reverse" style="display:inline-flex;">
                                    <span class="badge badge-success ml-3" style="font-size:small;vertical-align:middle;">@newCases[7].recovered new</span>
                                    <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller; color:darkslateblue"><i class="fa fa-arrow-up"></i> @precentage.recovered%</div>
                                </div>
                            }
                            else
                            {
                                <div class="flex-column-reverse" style="display:inline-flex;">
                                    <span class="badge badge-success ml-3" style="font-size:small;vertical-align:middle;">@newCases[7].recovered new</span>
                                    <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller;color:darkred"><i class="fa fa-arrow-down"></i> @precentage.recovered%</div>
                                </div>
                            }

                        }
                    </div>
                </div>
                <div class="py-3 px-3 mt-3 mb-4 text-center font-weight-bold text-danger bg-light" style="">
                    <div class="pr-5" style="font-size:medium;display:inline;">Deaths:</div>
                    <div class="h2 font-weight-normal" style="display:inline;">

                        @casesToday[7].deaths

                        @if (newCases[7].deaths > 0)
                        {

                            if (increase.deaths == 1)
                            {
                                <div class="flex-column-reverse" style="display:inline-flex;">
                                    <span class="badge badge-danger ml-3" style="font-size:small"> @newCases[7].deaths new</span>
                                    <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller; color:darkred"><i class="fa fa-arrow-up"></i> @precentage.deaths%</div>
                                </div>
                            }
                            else
                            {
                                <div class="flex-column-reverse" style="display:inline-flex;">
                                    <span class="badge badge-danger ml-3" style="font-size:small"> @newCases[7].deaths new</span>
                                    <div style="display:inline-block;padding-bottom:0.2em;font-size:smaller;color:darkslateblue"><i class="fa fa-arrow-down"></i> @precentage.deaths%</div>
                                </div>
                            }



                        }


                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Provincial Stats</h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="myTable" style="font-family:Calibri">
            <thead style="font-size:medium;font-weight:300;">
                <tr>
                    <th class=" text-uppercase small font-weight-bold">Province</th>
                    <th class=" text-uppercase small font-weight-bold">Total</th>
                    <th class=" text-uppercase small font-weight-bold">Active</th>
                    <th class=" text-uppercase small font-weight-bold">Closed</th>
                    <th class=" text-uppercase small font-weight-bold">Recovered</th>
                    <th class=" text-uppercase small font-weight-bold">Deaths</th>
                </tr>
            </thead>
            <tbody style="font-size:small">

                <tr>
                    <th style="vertical-align:middle">Punjab</th>

                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[1].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark" style="left:1.3em;position:relative;">@newCases[1].confirmed new</span>
                            }
                            <div> @casesToday[1].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[1].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[1].active new</span>
                            }
                            <div> @casesToday[1].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[1].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary" style="left:1.3em;position:relative;">@newCases[1].closed new</span>
                            }
                            <div>@casesToday[1].closed</div>
                        </div>
                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[1].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success" style="left:1.3em;position:relative;">@newCases[1].recovered new</span>
                            }
                            <div>@casesToday[1].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[1].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[1].deaths new</span>
                            }
                            <div> @casesToday[1].deaths</div>
                        </div>
                    </td>
                </tr>
                <tr>

                    <th style="vertical-align:middle">Sindh</th>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[0].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark" style="left:1.3em;position:relative;">@newCases[0].confirmed new</span>
                            }
                            <div> @casesToday[0].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[0].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[0].active new</span>
                            }
                            <div>  @casesToday[0].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[0].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary " style="left:1.3em;position:relative;">@newCases[0].closed new</span>
                            }
                            <div> @casesToday[0].closed</div>
                        </div>
                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[0].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success " style="left:1.3em;position:relative;">@newCases[0].recovered new</span>
                            }
                            <div> @casesToday[0].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[0].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[0].deaths new</span>
                            }
                            <div> @casesToday[0].deaths</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:middle">KPK</th>
                    @* <td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-warning ml-3">3 new</span></td>
                        <td>123<span class="badge badge-pill badge-secondary ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>*@
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[2].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark" style="left:1.3em;position:relative;">@newCases[2].confirmed new</span>
                            }
                            <div>@casesToday[2].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[2].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[2].active new</span>
                            }
                            <div> @casesToday[2].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[2].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary" style="left:1.3em; position: relative;">@newCases[2].closed new</span>
                            }
                            <div>@casesToday[2].closed</div>
                        </div>
                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[2].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success" style="left:1.3em;position:relative;">@newCases[2].recovered new</span>
                            }
                            <div> @casesToday[2].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[2].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[2].deaths new</span>
                            }
                            <div> @casesToday[2].deaths</div>
                        </div>
                    </td>


                </tr>

                <tr>
                    <th style="vertical-align:middle">Balochistan</th>
                    @*<td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-warning ml-3">3 new</span></td>
                        <td>123<span class="badge badge-pill badge-secondary ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>*@

                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[5].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark" style="left:1.3em;position:relative;">@newCases[5].confirmed new</span>
                            }
                            <div> @casesToday[5].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[5].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[5].active new</span>
                            }
                            <div>@casesToday[5].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[5].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary" style="left:1.3em;position:relative;">@newCases[3].closed new</span>
                            }
                            <div> @casesToday[5].closed</div>
                        </div>
                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[5].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success" style="left:1.3em;position:relative;">@newCases[5].recovered new</span>
                            }
                            <div>@casesToday[5].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[5].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[5].deaths new</span>
                            }
                            <div> @casesToday[5].deaths</div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <th style="vertical-align:middle">Islamabad</th>
                    @*<td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-warning ml-3">3 new</span></td>
                        <td>123<span class="badge badge-pill badge-secondary ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>*@

                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[3].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark" style="left:1.3em;position:relative;">@newCases[3].confirmed new</span>
                            }
                            <div>@casesToday[3].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[3].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[3].active new</span>
                            }
                            <div> @casesToday[3].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[3].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary" style="left:1.3em;position:relative;">@newCases[3].closed new</span>
                            }
                            <div>@casesToday[3].closed</div>
                        </div>
                    </td>

                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[3].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success" style="left:1.3em;position:relative;">@newCases[3].recovered new</span>
                            }
                            <div> @casesToday[3].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[3].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[3].deaths new</span>
                            }
                            <div> @casesToday[3].deaths</div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <th style="vertical-align:middle">Gilgit Baltistan</th>

                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[4].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark " style="left:1.3em;position:relative;">@newCases[4].confirmed new</span>
                            }
                            <div>@casesToday[4].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[4].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[4].active new</span>
                            }
                            <div>@casesToday[4].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[4].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary" style="left:1.3em;position:relative;">@newCases[4].closed new</span>
                            }
                            <div> @casesToday[4].closed</div>
                        </div>
                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[4].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success" style="left:1.3em;position:relative;">@newCases[4].recovered new</span>
                            }
                            <div> @casesToday[4].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[4].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[4].deaths new</span>
                            }
                            <div>@casesToday[4].deaths</div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th style="vertical-align:middle">Azad Kashmir</th>
                    @* <td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-warning ml-3">3 new</span></td>
                        <td>123<span class="badge badge-pill badge-secondary ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                        <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>*@
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[6].confirmed > 0)
                            {
                                <span class="badge badge-pill badge-dark" style="left:1.3em;position:relative;">@newCases[6].confirmed new</span>
                            }
                            <div> @casesToday[6].confirmed</div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[6].active > 0)
                            {
                                <span class="badge badge-pill badge-warning" style="left:1.3em;position:relative;">@newCases[6].active new</span>
                            }
                            <div> @casesToday[6].active</div>
                        </div>

                    </td>
                    <td>
                        <div class="flex-column-reverse">


                            @if (@newCases[6].closed > 0)
                            {
                                <span class="badge badge-pill badge-secondary " style="left:1.3em;position:relative;">@newCases[6].closed new</span>
                            }
                            <div>
                                @casesToday[6].closed
                            </div>
                        </div>
                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[6].recovered > 0)
                            {
                                <span class="badge badge-pill badge-success" style="left:1.3em;position:relative;">@newCases[6].recovered new</span>
                            }
                            <div> @casesToday[6].recovered</div>
                        </div>

                    </td>


                    <td>
                        <div class="flex-column-reverse">

                            @if (@newCases[6].deaths > 0)
                            {
                                <span class="badge badge-pill badge-danger" style="left:1.3em;position:relative;">@newCases[6].deaths new</span>
                            }

                            <div> @casesToday[6].deaths</div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <!-- Canvas element will display the chart -->
        <canvas responsive="false" maintainAspectRatio="false" id="StackedBarPlot"></canvas>
    </div>
    <div class="container-fluid">
        <!-- Canvas element will display the chart -->
        <canvas responsive="false" maintainAspectRatio="false" id="CoronaRatePlotProvinces"></canvas>
    </div>
    <script>
        function statistics_onload_function() {

            var param3 = @Html.Raw(ViewBag.casesToday1) ;


            showStackedBarPlot(param3);
            var param4 = @Html.Raw(ViewBag.dailyCasesList1) ;
            showCoronaRatePlotProvinces(param4);



        }
    </script>


</body>
</html>
